body{
    width: 100%;
    margin: auto;
}
.start{
    box-sizing: border-box;
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    margin: auto;
    
    text-align: center;
}
strong{
    font-weight: lighter;
    color: yellow;
}
.menu{
    box-sizing: border-box;
    border: 1px solid yellow;
    background-color: yellow;
}
h1{
    text-align: center;
    font-weight: bolder;
    margin-top: 0;
    font-size: x-large;
    font-weight: 900;
   
}
.fas{
    background-image: element(fa sfa-bars);
}
.far{
    
    margin-left: 20em;
    font-size: large;
    margin-bottom: 5em;
}